<div class="about">
    <center><h2>
<a href="/about">Hakkında</a> | <a href="/about/news">Haberler</a> | <a href="/about/usage">Kullanım</a> | <a href="/about/faq">SSS</a> | İstatistikler | <a href="/about/privacy">Mahremiyet</a>
</h2></center>

    <h3>Doğrulanmış e-posta adresleri</h3>

    <p>Mevcut doğrulanmış toplam e-posta adresi sayısını gösteren basit bir istatistik. 📈</p>

    <p>
      </p>
<center><img src="/about/stats/week.png"></center>
    
    <p>
      </p>
<center><img src="/about/stats/month.png"></center>
    

    <h3>Yük Ortalaması</h3>

    <p>"Yük ortalaması" bir sunucunun ne kadar meşgul olduğunu gösteren bir istatistiktir. Basitçe söylersek:</p>
<ul>
<li>0.0 <span class="brand">keys.openpgp.org</span> sunucusunun tamamen boşta olduğunu gösteriyor.</li>
        <li>1.0 tamamen meşgul olduğunu</li>
        <li>4.0 ve üzeri de bayağı meşgul olduğunu 🔥</li>
      </ul>
<p>
      </p>
<center><img src="/about/stats/load_week.png"></center>
    
</div>
