<div class="about usage">
    <center><h2>
<a href="/about">Hakkında</a> | <a href="/about/news">Haberler</a> | Kullanım | <a href="/about/faq">SSS</a> | <a href="/about/stats">İstatistikler</a> | <a href="/about/privacy">Mahremiyet</a>
</h2></center>

    <p>Bu sayfada, <span class="brand">keys.openpgp.org</span> hizmetinin farklı OpenPGP yazılım ürünleriyle birlikte nasıl kullanıldığına ilişkin bilgiyi topluyoruz.<br>
Daha fazla bilgi eklemeye devam ediyoruz. Eğer eklemeyi unuttuğumuzu düşündüğünüz bir şey varsa
bize yazın ve biz de eklemeye çalışalım.</p>

    <h2>
        <div><img src="/assets/img/enigmail.svg"></div>
        Enigmail
    </h2>
    <p>Thunderbird eklentisi <a href="https://enigmail.net" target="_blank">Enigmail</a>, 2.0.12 sürümünden beri <span class="brand">keys.openpgp.org</span> varsayılan olarak kullanıyor.</p>
    <p>Enigmain 2.1'den (<a href="https://www.thunderbird.net/en-US/thunderbird/68.0beta/releasenotes/" target="_blank">Thunderbird 68</a> veya daha yeni için) beri tamamen destekleniyor:</p>
<ul>
<li>Anahtarlar otomatik olarak güncel tutulur.</li>
            <li>Anahtar oluşturma sırasında, anahtarınızı yükleyebilir ve doğrulayabilirsiniz.</li>
            <li>E-posta adresiyle anahtarları bulabilirsiniz.</li>
        </ul>
<h2>
        <div><img src="/assets/img/gpgtools.png"></div>
        GPG Suite
    </h2>
    <p>macOS için <a href="https://gpgtools.org/">GPG Suite</a> araç takımı da <span class="brand">keys.openpgp.org</span> hizmetini Ağustos 2019'dan beri varsayılan olarak kullanıyor.</p>

    <h2>
        <div><img src="/assets/img/openkeychain.svg"></div>
        OpenKeychain
    </h2>
    <p>Android için <a href="https://www.openkeychain.org/">OpenKeychain</a>, <span class="brand">keys.openpgp.org</span> hizmetini Temmuz 2019'dan beri varsayılan olarak kullanıyor.</p>
<ul>
<li>Anahtarlar otomatik olarak güncel tutulur.</li>
            <li>E-posta adresiyle anahtarları bulabilirsiniz.</li>
        </ul>
<p>Yükleme ve e-posta adresi doğrulama için henüz gömülü bir destek olmadığını unutmayın.</p>

    <h2>
        <div><img src="/assets/img/gnupg.svg"></div>
        GnuPG
    </h2>

    <p><a href="https://gnupg.org">GnuPG</a>'nin <span class="brand">keys.openpgp.org</span> hizmetini anahtar sunucusu olarak kullanacak şekilde yapılandırmak için, aşağıdaki satırı <tt>gpg.conf</tt> dosyasına ekleyin: </p>
<blockquote>keyserver hkps://keys.openpgp.org</blockquote>
    

    <h4 id="gnupg-retrieve"><a href="#gnupg-retrieve">Anahtarları indirmek</a></h4>
    <ul>
<li>Bir kullanıcının anahtarını, e-posta adresiyle bulmak için:<blockquote>gpg --auto-key-locate keyserver --locate-keys user@example.net</blockquote>
        </li>
        <li>Bütün anahtarlarınızı yenilemek için (örn. fesih sertifikaları ve alt anahtarlar için):<blockquote>gpg --refresh-keys</blockquote>
        </li>
    </ul>
<h4 id="gnupg-upload"><a href="#gnupg-upload">Anahtarınızı yüklemek</a></h4>
    <p>Anahtarlar GnuPG'nin <tt>--send-keys</tt> komutuyla gönderilebilr, ancak anahtarı e-posta adresiyle aranabilir yapmak için kimlik bilgisini bu şekilde doğrulamak mümkün değildir (<a href="/about">bunun anlamı nedir?</a>).</p>

    <ul>
<li>Anahtarınızı yüklemek için şu kısayolu kullanabilirsiniz, doğrulama sayfasına doğrudan yönlendiren bir bağlantıyı görüntüleyecektir:<blockquote>gpg --export your_address@example.net | curl -T - {{ base_uri }}</blockquote>
        </li>
        <li>Alternatif olarak, bir dosyaya kaydedebilir ve <a href="/upload" target="_blank">yükleme</a> sayfasında bu dosyayı seçebilirsiniz:<blockquote>gpg --export your_address@example.net &gt; my_key.pub</blockquote>
        </li>
    </ul>
<h4 id="gnupg-troubleshooting"><a href="#gnupg-troubleshooting">Sorun Giderme</a></h4>
    <ul>
<li>Bazı eski <tt>~/gnupg/dirmngr.conf</tt> dosyaları aşağıdaki gibi bir satır içeriyor:<blockquote>hkp-cacert ~/.gnupg/sks-keyservers.netCA.pem</blockquote>
            <p>Bu yapılandırmaya artık ihtiyaç yok, ancak düzenli sertifikaların çalışmasını engeller. Sadece bu satırın yapılandırma dosyasından kaldırılmasını öneriyoruz.</p>
        </li>
        <li>Anahtarları yenilerken, aşağıdaki gibi hatalarla karşılaşabilirsiniz:<blockquote>gpg: key A2604867523C7ED8: no user ID</blockquote>
            Bu <a href="https://dev.gnupg.org/T4393" target="_blank">GnuPG'de bilinen bir sorun</a>.
Bu sorunu çözmek için GnuPG ekibiyle birlikte çalışıyoruz.
        </li>
    </ul>
<h4 id="gnupg-tor"><a href="#gnupg-tor">Tor ile Kullanım</a></h4>
    <p>Daha dikkatli olmak isteyen kullanıcılar, <span class="brand">keys.openpgp.org</span> sitesine <a href="https://support.torproject.org/onionservices/#onionservices-2" target="_blank">onion hizmeti</a> olarak da erişebilirler. <a href="https://www.torproject.org/" target="_blank">Tor</a> kurmuşsanız aşağıdaki yapılandırmayı kullanabilirsiniz:</p>
<blockquote>keyserver hkp://zkaan2xfbuxia2wpf7ofnkbz6r5zdbbvxbunvp5g2iebopbfc4iqmbad.onion</blockquote>
    

    <h2 style="margin-left: 3%;">API</h2>

    <p>OpenPGP uygulamalarında bütünleşik bir destek sunmak amacıyla bir API sağlıyoruz. <a href="/about/api">API belgemizi</a>inceleyebilirsiniz.</p>

    <h2 style="margin-left: 3%;">Diğer</h2>

    <p>Gözde gerçekleştiriminizde nasıl kullanılacağına ilişkin rehber yok mu? Sorun değil. Bu site henüz yapım aşamasında ve geliştirmeye çalışıyoruz. Yardımcı olmak istiyorsanız <span class="email">support at keys dot openpgp dot org</span> e-posta adresimize mesaj gönderebilirsiniz.</p>

</div>
